*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore all IntelliJ/Android Studio files
.idea/
*.iml

# Ignore all Gradle/build outputs everywhere
.gradle/
**/build/

# Ignore APK/AAB outputs
*.apk
*.aab
